<div class="container">
  <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
    <h2 class="title mt-4">Basic Information</h2>
    <%= form_with model: profile do |form| %>
    <% if @profile.avatar.attached? %>
    <%= image_tag @profile.avatar, class: "image profile-avatar--big" %>
    <%end%>
    <div class="mt-4">
      <%= form.label :avatar, style: "display: block" %>
      <%= form.file_field :avatar, accept: "image/*" %>
    </div>
    <div class="mt-4">
      <%= form.label :full_name %>
      <%= form.text_field :full_name, required: true, autofocus: true, autocomplete: "name", placeholder: "Enter your name", class: "input" %>
    </div>
    <div class="mt-4">
      <%= form.label :country %>
      <br />
      <div class="select">
        <%= form.select :country, options_for_select(country_list, selected: profile.country) %>
      </div>
    </div>
    <div class="mt-4">
      <%= form.label :city %>
      <br />
      <div class="select">
        <%= form.select :city, options_for_select(city_of_country(profile.country), selected: profile.city) %>
      </div>
    </div>
    <div class="mt-4">
      <%= form.label :bio %>
      <%= form.rich_text_area :bio, required: true, placeholder: "Enter your bio", class: "textarea" %>
    </div>

    <div class="mt-4">
      <%= form.submit "Update Profile", class: "button is-primary" %>
      <%= link_to "Cancel", profiles_path(@profile), class: "button is-secondary ml-4" %>
    </div>
    <% end %>
  </div>
</div>

<script>
  function onChangeCountry(e) {
    const cities = {
      'sweden': "<%= sweden_city_list %>".split(','),
      'denmark': "<%= denmark_city_list %>".split(','),
      'finland': "<%= finland_city_list %>".split(','),
      'norway': "<%= norway_city_list %>".split(','),
    }

    const cityList = cities[e.target.value]
    const profileCity = document.getElementById('profile_city')

    while (profileCity.lastElementChild)
      profileCity.removeChild(profileCity.lastElementChild)

    cityList.map(city => {
      const option = document.createElement('option')
      option.innerHTML = city
      profileCity.appendChild(option)
    })
  }

  document.getElementById('profile_country').addEventListener('change', onChangeCountry)
</script>