<div class="container">
  <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center">
    <h2 class="title mt-4">Basic Information</h2>
    <%= form_with model: profile do |form| %>
    <% if @profile.avatar.attached? %>
    <%= image_tag @profile.avatar, class: "image profile-avatar--big" %>
    <%end%>
    <div class="mt-4">
      <%= form.label :avatar, style: "display: block" %>
      <%= form.file_field :avatar, accept: "image/*" %>
    </div>
    <div class="mt-4">
      <%= form.label :full_name %>
      <%= form.text_field :full_name, required: true, autofocus: true, autocomplete: "name", placeholder: "Enter your name", class: "input" %>
    </div>
    <div class="is-flex is-flex-direction-row" style="gap: 1rem;">
      <div class="mt-4">
        <%= form.label :date_of_birth %>
        <%= form.date_field :date_of_birth, required: true, autocomplete: "date_of_birth", placeholder: "Enter your date of birth", class: "input" %>
      </div>
      <div class="mt-4">
        <%= form.label :gender %>
        <br />
        <div class="select">
          <%= form.select :gender, ["Male", "Female", "Other"], required: true, autocomplete: "gender", placeholder: "Select your gender", class: "select" %>
        </div>
      </div>
    </div>
    <div class="is-flex is-flex-direction-row" style="gap: 1rem;">
      <div class="mt-4">
        <%= form.label :country %>
        <br />
        <div class="select">
          <%= form.select :country, 
            {},
            {},
            { data: { 
              controller: "country", 
              action: "change->country#onCountryChange", 
              "country-city-outlet": "#profile_city",
              "country-country-value": profile.country } }
        %>
        </div>
      </div>
      <div class="mt-4">
        <%= form.label :city %>
        <br />
        <div class="select">
          <%= form.select :city, {}, 
        {}, 
        { data: { controller: "city", "city-city-value": profile.city, "city-country-value": profile.country } } %>
        </div>
      </div>
    </div>
    <div class="mt-4">
      <%= form.label :bio %>
      <%= form.rich_text_area :bio, required: false, placeholder: "Enter your bio", class: "textarea" %>
    </div>

    <div class="mt-4">
      <%= form.submit "Update Profile", class: "button is-primary" %>
      <%= link_to "Cancel", profiles_path(@profile), class: "button is-secondary ml-4" %>
    </div>
    <% end %>
  </div>
</div>