<% if @profile.nil? %>
<p>No profile found</p>
<%= link_to "Create your profile", new_profiles_path %>
<% else %>

<section class="hero is-primary is-small">
  <div class="hero-body">
    <div class="container">
      <p class="title"><%= @profile.full_name %></p>
      <p class="subtitle"><%= @profile.address %>, <%= @profile.city %>, <%= @profile.state %></p>
      <div class="tags are-medium">
        <% @profile.instruments.each do |instrument| %>
        <%= tag.div(instrument.name, class: "tag") %>
        <% end %>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <div class="content">
      <h2>Styles</h2>
      <div class="tags">
        <% @profile.styles.each do |style| %>
        <%= tag.div(style.name, class: "tag") %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <h2>Influences</h2>
      <div class="tags">
        <% @profile.influences.each do |influence| %>
        <%= tag.div(influence.name, class: "tag") %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <h2>Bio</h2>
      <%= @profile.bio %>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <%= link_to "Edit profile", edit_profile_path, class: "button is-primary" %>
    </div>
  </section>
</div>

<% end %>