<section class="hero is-primary is-small">
  <div class="hero-body is-flex is-flex-direction-row">
    <div class="container">
      <div class="is-flex is-flex-direction-row is-align-items-center">
        <div class="mr-5">
          <% if  @profile.avatar && @profile.avatar.attached? %>
          <%= image_tag @profile.avatar, class: "image profile-avatar" %>
          <% else %>
          <%= image_tag "default-avatar.png", class: "image profile-avatar" %>
          <% end %>
        </div>
        <div>
          <p class="title"><%= @profile.full_name %> <%= link_to "✎", edit_profile_path(@profile), class: "subtitle" %></p>
          <p class="subtitle"><%= @profile.address %>, <%= @profile.city %>, <%= @profile.state %></p>
          <div class="tags are-medium">
            <% @profile.instruments.each do |instrument| %>
            <%= tag.div(instrument.name, class: "tag") %>
            <% end %>
            <%= link_to "+", profile_instruments_path(@profile), class: "button is-small is-secondary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <div class="content">
      <h2>Styles <%= link_to "Edit", profile_styles_path(@profile), class: "button is-small" %></h2>
      <div class="tags">
        <% @profile.styles.each do |style| %>
        <%= tag.div(style.name, class: "tag") %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <h2>Influences <%= link_to "Edit", profile_influences_path(@profile), class: "button is-small" %></h2>
      <div class="tags">
        <% @profile.influences.each do |influence| %>
        <%= tag.div(influence.name, class: "tag") %>
        <% end %>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="content">
      <h2>Bio</h2>
      <%= @profile.bio %>
    </div>
  </section>
</div>