<div class="section">
  <%= form_tag search_results_path(search_params: @search_params), method: :get do %>
  <div class="is-flex">
    <div class="column is-one-fifth">
      <div class="field">
        <%= label_tag :city, "City" %>
        <%= text_field_tag :city, nil, class: "input" %>
      </div>
    </div>
    <div class="column is-one-fifth">
      <div class="field">
        <%= label_tag :state, "State" %>
        <%= text_field_tag :state, nil, class: "input" %>
      </div>
    </div>
    <div class="column is-one-fifth">
      <div class="field">
        <%= label_tag :instrument, "Instrument" %>
        <div class="select">
          <%= select_tag :instrument, options_from_collection_for_select(@instruments, "id", "name", {include_blank: "All"}) %>
        </div>
      </div>
    </div>
    <div class="column is-one-fifth">
      <div class="field">
        <%= label_tag :style, "Style" %>
        <div class="select">
          <%= select_tag :style, options_from_collection_for_select(@styles, "id", "name", {include_blank: "All"}) %>
        </div>
      </div>
    </div>
    <div class="column is-flex is-align-items-end">
      <div class="field">
        <%= submit_tag "Search", class: "button is-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="section">
  <% Rails.logger.debug "In view, results count: #{@results.try(:count)}" %>
  <% if @results.present? %>
  <% @results.each do |result| %>
  <div class="box">
    <h3 class="title is-4"><%= result.full_name %></h3>
    <p><%= "#{result.city}, #{result.state}" %></p>
    <div class="content">
      <p><strong>Instruments:</strong> <%= result.instruments.pluck(:name).join(", ") %></p>
      <p><strong>Styles:</strong> <%= result.styles.pluck(:name).join(", ") %></p>
    </div>
  </div>
  <% end %>
  <% else %>
  <p class="has-text-centered">No profiles found matching your criteria</p>
  <% end %>
</div>