<div class="section">
  <%= form_tag search_results_path(search_params: @search_params), method: :get do %>
  <div class="columns">
    <div class="column">
      <div class="field">
        <%= label_tag :country, "Country" %>
        <%= text_field_tag :country, params[:country], class: "input"  %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= label_tag :city, "City" %>
        <%= text_field_tag :city, params[:city], class: "input" %>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= label_tag :instrument, "Instrument" %>
        <br />
        <div class="select">
          <%= select_tag :instrument, options_from_collection_for_select(@instruments, "id", "name", {include_blank: "All", selected: params[:instrument]}) %>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="field">
        <%= label_tag :style, "Style" %>
        <br />
        <div class="select">
          <%= select_tag :style, options_from_collection_for_select(@styles, "id", "name", {include_blank: "All", selected: params[:style]}) %>
        </div>
      </div>
    </div>
    <div class="column is-flex is-align-items-end">
      <div class="field">
        <%= submit_tag "Search", class: "button is-primary" %>
      </div>
    </div>
  </div>
  <% end %>
</div>

<div class="section">
  <% if @results.present? %>
  <% @results.each do |result| %>
  <div class="box is-clickable" onclick="window.location.href='<%= profile_path(result) %>'">
    <h3 class="title is-4"><%= result.full_name %></h3>
    <p><%= "#{result.country}, #{result.city}" %></p>
    <div class="content">
      <p><strong>Instruments:</strong> <%= result.instruments.pluck(:name).join(", ") %></p>
      <p><strong>Styles:</strong> <%= result.styles.pluck(:name).join(", ") %></p>
    </div>
  </div>
  <% end %>
  <% else %>
  <p class="has-text-centered">No profiles found matching your criteria</p>
  <% end %>
</div>