<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "Nordic Jam" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bulma" %>
  <%= javascript_importmap_tags %>

  <script language="javascript">
    // Toggle the navbar menu on click
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
  </script>
</head>

<body>
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <%= link_to "Nordic Jam", root_path %>
      </div>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-items">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbar-items" class="navbar-menu">
      <div class="navbar-start">
        <div class="navbar-item">
          <%= link_to "Profile", profiles_path if authenticated? %>
        </div>
      </div>

      <div class="navbar-end">
        <div class="navbar-item">
          <%= 
            link_to_if !authenticated?, "Sign in", new_session_path, class: "button is-primary" do
              button_to "Logout", session_path, method: :delete, class: "button is-primary"
            end
          %>
        </div>
      </div>
    </div>
    <hr class="navbar-divider">
  </nav>

  <div class="columns is-flex-direction-column" style="height: 100vh">
    <div class="notice"><%= notice %></div>

    <main>
      <%= yield %>
    </main>

    <footer class="footer is-flex-align-items-flex-end mt-auto is-narrow">
      <div class="content has-text-centered">
        <p>&copy; 2025 Nordic Jam</p>
      </div>
    </footer>
  </div>

</body>

</html>