<!DOCTYPE html>
<html>

<head>
  <title><%= content_for(:title) || "Nordic Jam" %></title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
  <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

  <link rel="icon" href="/icon.png" type="image/png">
  <link rel="icon" href="/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="/icon.png">

  <%# Includes all stylesheet files in app/assets/stylesheets %>
  <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "bulma" %>
  <%= javascript_importmap_tags %>

  <script language="javascript">
    // Toggle the navbar menu on click
    document.addEventListener('DOMContentLoaded', () => {

      // Get all "navbar-burger" elements
      const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

      // Add a click event on each of them
      $navbarBurgers.forEach(el => {
        el.addEventListener('click', () => {

          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);

          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');

        });
      });

    });
  </script>
</head>

<body>
  <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <div class="navbar-item">
        <svg width="200" height="50" viewBox="0 0 200 50" xmlns="http://www.w3.org/2000/svg">
          <text x="50%" y="50%" font-size="32" font-family="Arial, sans-serif" fill="black" text-anchor="middle" dominant-baseline="middle">
            NORDIC JAM
          </text>
        </svg>

      </div>

      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar-items">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div class="navbar-item">
      <%= link_to "Home", root_path %>
    </div>
    <div id="navbar-items" class="navbar-menu">
      <div class="navbar-end">
        <% if authenticated? %>
        <div class="navbar-item has-dropdown is-hoverable is-clearfix">
          <div class="navbar-item">
            <div class="field">
              <svg class="svg-icon" viewBox="0 0 20 20" style="fill: black; stroke: black; height: 2rem;">
                <path fill="none" d="M12.443,9.672c0.203-0.496,0.329-1.052,0.329-1.652c0-1.969-1.241-3.565-2.772-3.565S7.228,6.051,7.228,8.02c0,0.599,0.126,1.156,0.33,1.652c-1.379,0.555-2.31,1.553-2.31,2.704c0,1.75,2.128,3.169,4.753,3.169c2.624,0,4.753-1.419,4.753-3.169C14.753,11.225,13.821,10.227,12.443,9.672z M10,5.247c1.094,0,1.98,1.242,1.98,2.773c0,1.531-0.887,2.772-1.98,2.772S8.02,9.551,8.02,8.02C8.02,6.489,8.906,5.247,10,5.247z M10,14.753c-2.187,0-3.96-1.063-3.96-2.377c0-0.854,0.757-1.596,1.885-2.015c0.508,0.745,1.245,1.224,2.076,1.224s1.567-0.479,2.076-1.224c1.127,0.418,1.885,1.162,1.885,2.015C13.961,13.689,12.188,14.753,10,14.753z M10,0.891c-5.031,0-9.109,4.079-9.109,9.109c0,5.031,4.079,9.109,9.109,9.109c5.031,0,9.109-4.078,9.109-9.109C19.109,4.969,15.031,0.891,10,0.891z M10,18.317c-4.593,0-8.317-3.725-8.317-8.317c0-4.593,3.724-8.317,8.317-8.317c4.593,0,8.317,3.724,8.317,8.317C18.317,14.593,14.593,18.317,10,18.317z"></path>
              </svg>
            </div>
          </div>
          <div class="navbar-dropdown is-right">
            <div class="navbar-item">
              <%= link_to "Profile", profiles_path if authenticated? %>
            </div>
            <hr class="navbar-divider">
            <div class="navbar-item">
              <%= 
                  link_to_if !authenticated?, "Sign in", new_session_path, class: "button is-primary" do
                    button_to "Logout", session_path, method: :delete, class: "button is-danger"
                  end
                %>
            </div>
          </div>
        </div>
        <% else %>
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <%= link_to "Sign in", new_session_path, class: "button is-primary" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <hr class="navbar-divider">
  </nav>

  <div class="columns is-flex-direction-column" style="height: 100vh">
    <div class="notice"><%= notice %></div>

    <main>
      <%= yield %>
    </main>

    <footer class="footer is-flex-align-items-flex-end mt-auto is-narrow">
      <div class="content has-text-centered">
        <p>&copy; 2025 Nordic Jam</p>
      </div>
    </footer>
  </div>

</body>

</html>